.container {
    border: 5px solid blue;
    height:500px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid-Div {
    border: 1px solid green;
    width: 5.5%;
    height: 5.5%;
    flex: 1 1 auto;
}