.container {
    border: 5px solid mediumslateblue;
    height:960px;
    width: 960px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;  
}

.grid-Div {
    /* border: 1px solid black;
    width: 6%; */
    flex: 1 1 auto;

}

.grid-Div:hover {
    background-color: plum;
}

.o10 {
    opacity: 0.1;

}

.o20 {
    opacity: 0.2;

}

.o30 {
    opacity: 0.3;

}

.o40 {
    opacity: 0.4;

}

.o50 {
    opacity: 0.5;

}

.o60 {
    opacity: 0.6;

}

.o70 {
    opacity: 0.7;

}

.o80 {
    opacity: 0.8;

}

.o90 {
    opacity: 0.9;

}

.o100 {
    opacity: 1;

}